<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>

    <h2>Order a Ride</h2>
    <form th:action="@{/order}" method="post">
        <label for="clientName">Client Name:</label>
        <input type="text" id="clientName" name="clientName" required>

        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination" required>

        <label for="paymentByCard">Pay by Card:</label>
        <input type="checkbox" id="paymentByCard" name="paymentByCard">

        <label for="driverId">Select Driver:</label>
        <select id="driverId" name="driverId" required>
            <option th:each="driver : ${availableDrivers}"
                    th:value="${driver.id}"
                    th:text="${driver.username}"></option>
        </select>

        <button type="submit">Order</button>
    </form>


</head>
<body>

</body>
</html>